@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root{
    --primary-color: #34D399;
}

body{
    font-family: "Montserrat", sans-serif; 
    text-align: center; 
    margin: 0;   
}

.header{
    padding: 1rem;
    background-color: var(--primary-color);
}

.label{
    font-weight: bold;
}

.text-input{
    width: 300px;
    padding: 1rem;
    margin: 1.5rem;
    border: 2px solid;
}

.button{
    padding: 0.5rem 1rem;
    background-color: var(--primary-color);
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    border: 2px solid;
    border-radius: 0.5rem;
}

.text-output{
    width: 300px;
    padding: 1rem;
    margin: auto;
    border: 2px solid;
}

.footer{
    background-color: var(--primary-color);    
    padding: 0.5rem;         
    text-align: center;    
}

footer p{
    max-width: 600px;
    margin: auto;
    font-size: large;
    padding-bottom: 1rem;
}


